<ul class="nav nav-pills" role="tablist">
  <li class="active"><%= link_to 'View list', todos_path %></li>
  <li><%= link_to 'New todo', new_todo_path %></li>
</ul>

<p id="notice"><%= notice %></p>

<h1>Listing Todos</h1>

<table class="table table-striped table-bordered table-responsive ">
  <thead>
    <tr>
      <th>Title</th>
      <th>Notes</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>


  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td>
          <% if todo.notes? %>
              <!-- Button trigger modal -->
              <button class="btn btn-primary" data-toggle="modal" data-target="#todo-<%= todo.id %>-notes">
                View notes
              </button>

              <!-- Modal -->
              <div class="modal fade" id="todo-<%= todo.id %>-notes" tabindex="-1" role="dialog" aria-labelledby="todo-<%= todo.id %>-label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="todo-<%= todo.id %>-label"><%= todo.title%></h4>
                    </div>
                    <div class="modal-body">
                      <%= todo.notes %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </td>

        <td><%= link_to 'Show', todo, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Todo', new_todo_path, class: 'btn btn-success' %>

<!--  <%#= link_to new_todo_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> New Todo
<%#  end %>  -->




